@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--background);
}

p{
    font-size: 14px;
}

h1, h2, h3, h4, h5{
    font-weight: bold;
    color: var(--azul-base);
    margin-bottom: 20px;
}

.containe{
    padding-left: 20%;
    padding-right: 20%;
}

.btn{
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--coral-base);
    color: var(--branco-base);
}
